= render 'layouts/header'
- breadcrumb :user_shipping_info, current_user
.breadcrumbs
  = breadcrumbs separator: "#{fa_icon("angle-right", class: "breadcrumbs__seperator")} ", class: "breadcrumbs__container"
.wrapper
  = render 'users/sidebar'
  .registration-wrapper
    .registration-nav
      発送元・お届け先住所変更
    .registration
      .registration-delivery--edit
        = form_for @profile, html: {id: 'delivery-update-form'} do |profile|
          = render 'devise/registrations/delivery_elements', profile: profile
          = profile.button ' 変更する', type: 'button', class: 'registration-update__btn'

= render 'layouts/footer'
