%h2 Sign up
.registration
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'registration-form'}) do |f|
    = render "devise/shared/error_messages", resource: resource
    .registration-user
      .field
        = f.label 'ニックネーム'
        %br/
        = f.text_field :nickname, class: 'registration-user__nickname'
      .field
        = f.label 'メールアドレス'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'registration-user__email'
      .field
        = f.label 'パスワード'
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'registration-user__password'
      .field
        = f.label 'パスワード（確認）'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'registration-user__password-confirmation'
      .field
        = f.label '姓（全角）'
        %br/
        = f.text_field :first_name, class: 'registration-user__first-name'
      .field
        = f.label '名（全角）'
        %br/
        = f.text_field :last_name, class: 'registration-user__last-name'
      .field
        = f.label '姓カナ（全角）'
        %br/
        = f.text_field :first_name_kana, class: 'registration-user__first-name-kana'
      .field
        = f.label '名カナ（全角）'
        %br/
        = f.text_field :last_name_kana, class: 'registration-user__last-name-kana'
      .field
        = f.label '生年月日'
        %br/
        = f.select :birth_year, (1900..Date.today.year), {include_blank: '---'}, {class: 'registration-user__birth-year'}
        年
        %br/
        = f.select :birth_month, (1..12), {include_blank: '---'}, {class: 'registration-user__birth-month'}
        月
        %br/
        = f.select :birth_day, (1..31), {include_blank: '---'}, {class: 'registration-user__birth-day'}
        日
      = recaptcha_tags
      = f.button '次へ進む', type: 'button', class: 'registration-user__btn'

    = render 'verify', f: f
    = render 'delivery', f: f
    = render 'payment', f: f
