= render 'layouts/header'
- breadcrumb :user_transaction, current_user
.breadcrumbs
  = breadcrumbs separator: "#{fa_icon("angle-right", class: "breadcrumbs__seperator")} ", class: "breadcrumbs__container"
%main.l-container.clearfix
  .wrapper
    = render 'users/sidebar'

    .l-content
    %section.mypage-tab__container
      %h2.mypage-tab__head 出品した商品
      %ul.listing__tabs
        %li.active
          %h3= link_to '出品中', user_listings_path
        %li
          %h3= link_to '取引中', in_progress_user_listings_path
        %li
          %h3= link_to '売却済み', solds_user_listings_path
        %li
      .tab-content
        %ul.mypage-item__list
          - if @products.present?
            = render partial: 'listings/mypage_items', collection: @products, as: :product
          - else
            .none-content
              = image_tag "mercari_logo_grey-ish", class: 'logo'
              %p 出品中の商品がありません
= render 'layouts/footer'
