= render 'layouts/header'
%main.l-container.clearfix
  .wrapper
    = render 'users/sidebar'

    .l-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 出品した商品
      %ul.listing-tabs
        %li
          %h3= link_to '出品中', user_listings_path
        %li
          %h3= link_to '取引中', in_progress_user_listings_path
        %li.active
          %h3= link_to '売却済み', solds_user_listings_path
        %li
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
          - if @products.present?
            = render partial: 'listings/mypage_items', collection: @products, as: :product
          - else
            .non-content
              %p 出品中の商品がありません
= render 'layouts/footer'
