.wrapper
  .side-bar
    .information
      %ul.content
        - mypage_elements.each do |element|
          %li.content__mypage
            = link_to element, "#"
            = fa_icon("angle-right")

    %h3 メルペイ
    .merpay
      %ul.content
        - mypage_elements_merpay.each do |element|
          %li.content
            = link_to element, "#"
            = fa_icon("angle-right")

    %h3 設定
    .user-info
      %ul.content
        - mypage_elements_setting.each do |element|
          %li.content
            = link_to element, "#"
            = fa_icon("angle-right")

  .sign-out
    .sign-out__btn
      .btn-red ログアウト
