= render 'layouts/header'
%main.l-container.clearfix
  .wrapper
    = render 'sidebar'
    .l-content
      %h2.l-chapter-head
        本人情報の登録
      .l-chapter-bottom
        %form.l-single-inner{action: "#", method: "POST", novalidate:  ""}
          %div
            %p
              お客さまの本人情報をご登録ください。
              %br>/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.text-right
              = link_to "#" do
                本人確認書類のアップロードについて
                = fa_icon("angle-right")
          .form-group
            %label お名前
            %p.form-group__user-name
              #{@user.first_name} #{@user.last_name}
          .form-group
            %label お名前カナ
            %p.form-group__user-name-kana
              #{@user.first_name_kana} #{@user.last_name_kana}
          .form-group
            %label{for: "birthday"} 生年月日
            %p.form-group__birth-day
              #{@user.birth_year}/#{@user.birth_month}/#{@user.birth_day}
            %input{name: "birthday",type: "hidden",value: ""}/
            .clearfix
          .form-group
            %label{for: "zip_code"} 郵便番号
            %span.form-arbitrary
              任意
            %input.input-default{name: "zip_code", placeholder: "例）1234567", type: "text", value: ""}
          .form-group
            =label :prefecture, "都道府県"
            %span.form-arbitrary
              任意
            .select-wrap
              %select.select-default{name: "prefecture"}
                %option{selected: "selected"} --
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県
              = fa_icon("angle-down")
          .form-group
            %label{for: "city"} 市区町村
            %span.form-arbitrary 任意
            %input.input-default{name: "city", placeholder: "例) 横浜市緑区", type: "text", value: ""}/
          .form-group
            %label{for: "address1_label"} 番地
            %span.form-arbitrary 任意
            %input.input-default{name: "address1", placeholder: "例) 青山1−1−1", type: "text", value: ""}/
          .form-group
            %label{for: "address2_label"} 建物名
            %span.form-arbitrary 任意
            %input.input-default{name: "address2", placeholder: "例) 柳ビル103", type: "text", value: ""}/
          %button.btn-default.btn-red{type: "button"} 登録する
          .form-group.text-right
            %p
              = link_to "#" do
                本人情報の登録について
                = fa_icon("angle-right")
= render 'layouts/footer'
