= link_to "#", class: "item" do
  = image_tag('elric.png', size: "213x213")
  .product-info
    .product-name
      白シャツ
    .product-price
      ￥ 300
    .product-tax
      (税込)
= link_to "#", class: "item" do
  = image_tag('elric.png', size: "213x213")
  .product-info
    .product-name
      白シャツ
    .product-price
      ￥ 300
    .product-tax
      (税込)
= link_to "#", class: "item" do
  = image_tag('elric.png', size: "213x213")
  .product-info
    .product-name
      白シャツ
    .product-price
      ￥ 300
    .product-tax
      (税込)
= link_to "#", class: "item" do
  = image_tag('elric.png', size: "213x213")
  .product-info
    .product-name
      白シャツ
    .product-price
      ￥ 300
    .product-tax
      (税込)
