%main.products-field
  .pickup-products-container
    %h2.pickup-head
      ピックアップカテゴリー
    = render "category"
    = render "category"
    = render "category"

  .pickup-products-container
    %h2.pickup-head
      ピックアップブランド
    = render "category"
    = render "category"
    = render "category"

