.container
  .vertical-container
    .item-container
      %h2.item-container__title FREDY & GLOSTER 38 M カーディガン 赤

      .item-container__float.group
        .item-container__images
          .slides-container.group
            .my-slides
              = image_tag "product_page_item1.jpg"
            .my-slides
              = image_tag "product_page_item2.jpg"
            .my-slides
              = image_tag "product_page_item3.jpg"
            .my-slides
              = image_tag "product_page_item4.jpg"
          .item-container__images__dots
            .dot{data: "0"}
              = image_tag "product_page_item1.jpg"
            .dot{data: "1"}
              = image_tag "product_page_item2.jpg"
            .dot{data: "2"}
              = image_tag "product_page_item3.jpg"
            .dot{data: "3"}
              = image_tag "product_page_item4.jpg"
