.container
  .vertical-container
    .item-container
      %h2.item-container__title FREDY & GLOSTER 38 M カーディガン 赤

      .item-container__float.group
        .item-container__images
          .slides-container.group
            .my-slides
              = image_tag "product_page_item1.jpg"
            .my-slides
              = image_tag "product_page_item2.jpg"
            .my-slides
              = image_tag "product_page_item3.jpg"
            .my-slides
              = image_tag "product_page_item4.jpg"
          .item-container__images__dots
            .dot{data: "0"}
              = image_tag "product_page_item1.jpg"
            .dot{data: "1"}
              = image_tag "product_page_item2.jpg"
            .dot{data: "2"}
              = image_tag "product_page_item3.jpg"
            .dot{data: "3"}
              = image_tag "product_page_item4.jpg"

        =render "show-table"

      .item-container__price-info
        %span.price ¥ 1,100
        %span.taxes (税込)
        %span.shipping-fee 送料込み

      =link_to "購入画面に進む", root_path, class: "item-container__purchase-btn"

      .item-container__description
        %p NOLLEY'S（ノーリーズ）の店舗で購入したFREDY & GLOSTER （フレディアンドグロスター）の赤いカーディガンです。綺麗な発色で、落ち着いた赤色です。<br>ウール100%で上質なお品です。サイズは38なのでMサイズですが、やや小さめなのでSサイズの方や細身の方の方がよいと思います。<br><br>着用回数は3回ほどで少ないのですが、肩に小さなひっかけ傷（穴）があります（四枚目）

      .item-container__links.group
        .item-container__links__left
          %button.link
            %i.fa.fa-heart-o
            %span いいね！
            %span 1
          =link_to root_path, class: "link report" do
            %i.fa.fa-flag-o
            %span 不適切な商品の報告
        .item-container__links__right
          =link_to root_path, class: "link safety" do
            %i.fa.fa-lock
            %span あんしん・安全への取り組み

    .show-page-comments
      %form
        %p.show-page-comments__warning 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input.show-page-comments__text{type:"textarea"}
        %input.show-page-comments__submit-btn{type: "submit", value: "コメントする", style: "font-size:20px"}

    .page-navigator.group
      = link_to root_path, class: "prev-item" do
        %i.fa.fa-chevron-left
        %span  前のアイテム
      = link_to root_path, class: "next-item" do
        %span  次のアイテム
        %i.fa.fa-chevron-right

