%header
  .header-container
    .header-top
      .header-top__logo
        = link_to root_path do
          = image_tag('mercari_logo_horizontal.png')
      .header-top__search
      %form.header-top__form
        %input{type: "text", class: "header-top__search", placeholder: "キーワードから探す"}
        %label{for: "header-submit", class: "header-submit-label"}
          = fa_icon "search", id: "header-submit-icon"
          %input{type: "submit", class: "header-top__submit hidden", id: "header-submit"}
    .header-bottom
      %nav.header-bottom__nav
        %ul.menu
          %li.menu__category
            = link_to "カテゴリーから探す", "#", class: "init-bottom", id: "header-category-button"
            %ul.menu__first-level
              = render partial: 'products/first_categories', collection: @first_categories, as: 'category'
          %li.menu__brand
            = link_to "ブランドから探す", '#', class: 'init-bottom'
        %ul.header-bottom__nav--right
          - unless user_signed_in?
            %li
              = link_to "ログイン", new_user_session_path, class: "header-login-button"
            %li
              = link_to "新規会員登録", new_user_path, class: "header-signup-button"
          - else
            %li
              = link_to users_path, class: 'header_mypage' do
                = image_tag('elric.png')
                マイページ
            %li
              = link_to "#", class: 'header_notification' do
                = fa_icon 'bell'
                お知らせ
            %li
              = link_to "#", class: 'header_todo' do
                = fa_icon 'check'
                やることリスト
